.header {
  position: relative;
  font-size: 5em;
  letter-spacing: 15px;
  text-transform: uppercase;
  align-self: flex-end;
  color: #342f3d;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
  animation: animate1 3s linear infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.sub-header {
  position: relative;
  font-size: 3em;
  letter-spacing: 15px;
  text-transform: uppercase;
  align-self: flex-end;
  color: #342f3d;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
  animation: animate2 5s infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.accerleration {
  transform: translateZ(0);
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 3em;
    letter-spacing: 3px;
    color: #d300c1;
    text-shadow: 0 0 10px #d300c1, 0 0 20px #d300c1, 0 0 40px #d300c1;
    animation: none;
  }
  .sub-header {
    font-size: 2em;
    letter-spacing: 3px;
    animation: none;
    color: #03c2c9;
    text-shadow: 0 0 10px #03c2c9, 0 0 20px #03c2c9, 0 0 40px #03c2c9;
  }
}

@keyframes animate1 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #342f3d;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #d300c1;
    text-shadow: 0 0 10px #d300c1, 0 0 20px #d300c1, 0 0 40px #d300c1,
      0 0 80px #d300c1, 0 0 160px #d300c1;
  }
}

@keyframes animate2 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #342f3d;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #03c2c9;
    text-shadow: 0 0 10px #03c2c9, 0 0 20px #03c2c9, 0 0 40px #03c2c9,
      0 0 80px #03c2c9, 0 0 160px #03c2c9;
  }
}
